/*
    FORMULARIO

*/

.barraDatos{
    width: 30%;
    height: 2em;
    margin-bottom: 4em;
}
.enviarTarea{
    height: 2.5em;
    background-color: blueviolet;
    color: white;
}

/*
    TAREA
*/

.recuadroTarea {
    width: 38%;
    height: 2em;
    background-color: white;
    margin-left: 31%;
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid black;
}



.eliminarTarea {
    width: 6.5%;
    height: 2em;
    background-color: red;
    border-radius: 5px; 

}
.completed {
    width: 94%;
    text-align: center; 
    text-decoration: line-through;

  }
  
  .not-completed {
    width: 94%;
    text-align: center; 
    text-decoration: none;
  }
  
  .iconoBasura {
    width: 100%;
    height: 100%;
}